/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Header styles */
header {
  background-color: white;
  padding: 20px;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  float: left;
}

.nav-list {
  list-style-type: none;
  float: right;
}

.nav-list li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.nav-list li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}

.nav-list li::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-list li a:hover {
  color: rgb(40, 158, 11);
}

.nav-list li:hover::after {
  background-color: rgb(18, 168, 28);
}

.nav-list li:last-child::after {
  display: none;
}

button {
  border-radius: 25px;
  background-color: green;
  color: white;
  font-weight: bold;
  border-color: green;
  padding: 5px;
  font-size: 40px;
  transition: box-shadow 0.3s ease; /* Add transition effect */
}
button:hover{
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Main section styles */
main {
  padding-top: 100px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.main-text {
  flex: 1;
  text-align: center;
} 

.main-text h2 {
  font-size: 56px;
  margin-bottom: 30px;
  color: #333;
}

.main-text p {
  font-size: 36px;
  margin-bottom: 48px;
}

.main-text span {
  color: green;
}

.btn {
  margin-top: 30px;
}

.btn a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(4, 57, 4);
  color: white;
  font-size: 36px;
  font-weight: bold;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn a:hover {
  background-color: darkgreen;
}

.main-image {
  flex: 1;
  margin-left: 200px;
}

.main-image img {
  max-width: 100%;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/*------------------------------------------------SIDE----------------------------------------*/
.side {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

.side .left {
  width: 50%;
  float: left;
}

.side .left img {
  float: left;
  width: 100%;
  border-radius: 50px; /* Adjust border radius as needed */
  margin: 20px;

}

.side .right {
  width: 50%;
  float: right;
}

.side .right h2 {
  margin-top: 48px;
  font-size: 64px;
  margin-bottom: 40px;
}

.side .right p {
  margin-left: 80px;
  width: 80%;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.side .right .side_btn {
  margin-top: 150px;
}

.side .right .side_btn a {
  text-decoration: none;
  font-size: 48px;
  margin: 20px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  border: 2px solid white;
  transition: 0.5s;
  border-radius: 20px;
}

.side .right .side_btn a:hover {
  background-color: rgb(6, 118, 11);
  color: black;
  font-weight: bolder;
  border: none;
  border: 2px solid green;
  transition: 0.5s;
}


/*--------------------------------------------HOW WE HELP----------------------------------------*/
.product {
  background-image: url("images/poor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px 0;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
}

.product h2 {
  font-size: 64px;
  color: #333;
  margin-bottom: 20px;
}

.product .product_container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch; /* Ensure all containers have the same height */
  flex-wrap: wrap;
  max-width: 2000px; /* Increased maximum width */
  margin: 0 auto;
}

.product .product_container .item {
  width: 25%; /* Adjusted width for four containers */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  height: 560px;
  margin: 20px; /* Added margin to create space between containers */
}

.product .product_container .item:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.product .product_container .item .item_img {
  width: 100%;
  text-align: center;
}

.product .product_container .item .item_img img {
  margin-top: 30px;
  width: 90%;
  height: 224px; /* Set a fixed height for all images */
  border-radius: 15px;
}

.product .product_container .item .item_content {
  text-align: center;
}

.product .product_container .item .item_content h3 {
  font-size: 36px;
  line-height: 1.5;
  color: rgb(79, 255, 88);
  font-weight: bold;
  margin-top: 10px;
}

.product .product_container .item .item_content p {
  font-size: 30px;
  line-height: 1.5;
  color: #fff;
  margin-top: 10px;
}

/* Footer styles */
footer {
  background-color: rgb(7, 54, 9);
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Styles for footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.footer-nav {
  list-style-type: none;
}

.footer-nav li {
  display: inline;
  margin-left: 20px;
}

.pol{
  color: white;
}

.footer-nav li a {
  color: white;
  text-decoration: none;
  font-size: 36px;
}

span {
  color: green;
}
